@model IEnumerable<OnlineShop.Domain.Entity.Item>

@{
    ViewData["Title"] = "GetItems";
}

<h1>GetItems</h1>

@foreach(var item in Model)
{
    <p>@item.Name</p>
    <p>@item.Price</p>
    <p>@item.Material</p>
    <p>@item.ReliseDate</p>
    <p>@item.Type</p>
    <p>@item.Collection</p>
    <p>@item.Description</p>
    <p>@item.Id</p>
}

