@*@model List<OnlineShop.Domain.Entity.Item>*@
@model List<OnlineShop.Domain.ViewModels.Item.ItemViewModel>

@{
    ViewData["Title"] = "GetItems";
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="~/css/catalog.min.css">
</head>

	<section class="caterogy">
		<div class="container">
			<div class="category_divider"></div>
			<div class="category_name">@Model.ElementAt(0).ItemType</div>
			<div class="row gx-0">
				<div class="col-md-1 offset-md-1">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Color
						</button>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="#">black</a></li>
						  <li><a class="dropdown-item" href="#">green</a></li>
						  <li><a class="dropdown-item" href="#">red</a></li>
						  <li><a class="dropdown-item" href="#">yellow</a></li>
						</ul>
					  </div>
				</div>
				<div class="col-md-1">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Size
						</button>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="#">38</a></li>
						  <li><a class="dropdown-item" href="#">39</a></li>
						  <li><a class="dropdown-item" href="#">40</a></li>
						  <li><a class="dropdown-item" href="#">41</a></li>
						  <li><a class="dropdown-item" href="#">42</a></li>
						</ul>
					  </div>
				</div>
				<div class="col-md-1 offset-md-7">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Sort by
						</button>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="#">Most Popular</a></li>
						  <li><a class="dropdown-item" href="#">Featured</a></li>
						  <li><a class="dropdown-item" href="#">Most Recent</a></li>
						  <li><a class="dropdown-item" href="#">Top Rated</a></li>
						  <li><a class="dropdown-item" href="#">$ Low to High</a></li>
						  <li><a class="dropdown-item" href="#">$ High to Low</a></li>
						</ul>
					  </div>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="category_divider"></div>
		</div>
	</section>

	<section class="items">
		<div class="container">

			<div class="row items_first">
				@if (Model.Count >= 1)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(0).Id" class="card-link">
							<div class="items_first_one_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(1).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_first_one_desc">
							<div class="items_first_one_desc_text">@Model.ElementAt(0).Name</div>
							<div class="items_first_one_desc_like">
								<button class="items_first_one_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_first_one_price">$ @Model.ElementAt(0).Price</div>
					</div>
				}
				@if (Model.Count >= 2)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(1).Id" class="card-link">
							<div class="items_first_two_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(2).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_first_two_desc">
							<div class="items_first_two_desc_text">@Model.ElementAt(1).Name</div>
							<div class="items_first_two_desc_like">
								<button class="items_first_two_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_first_two_price">$ @Model.ElementAt(1).Price</div>
					</div>
				}
				@if (Model.Count >= 3)
				{
					<div class="col-md-5 offset-md-1">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(2).Id" class="card-link">
							<div class="items_first_three_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(2).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_first_three_desc">
							<div class="items_first_three_desc_text">@Model.ElementAt(2).Name</div>
							<div class="items_first_three_desc_like">
								<button class="items_first_three_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_first_three_price">$ @Model.ElementAt(2).Price</div>
					</div>
				}	
			</div>

			<div class="row items_second">
				@if (Model.Count >= 4)
				{
					<div class="col-md-5">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(3).Id" class="card-link">
							<div class="items_second_one_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(3).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_second_one_desc">
							<div class="items_second_one_desc_text">@Model.ElementAt(3).Name</div>
							<div class="items_second_one_desc_like">
								<button class="items_second_one_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_second_one_price">$ @Model.ElementAt(3).Price</div>
					</div>
				}
				@if (Model.Count >= 5)
				{
					<div class="col-md-3 offset-md-1">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(4).Id" class="card-link">
							<div class="items_second_two_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(4).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_second_two_desc">
							<div class="items_second_two_desc_text">@Model.ElementAt(4).Name</div>
							<div class="items_second_two_desc_like">
								<button class="items_second_two_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_second_two_price">$ @Model.ElementAt(4).Price</div>
					</div>
				}
				@if (Model.Count >= 6)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(5).Id" class="card-link">
							<div class="items_second_three_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(5).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_second_three_desc">
							<div class="items_second_three_desc_text">@Model.ElementAt(5).Name</div>
							<div class="items_second_three_desc_like">
								<button class="items_second_three_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_second_three_price">$ @Model.ElementAt(5).Price</div>
					</div>
				}
			</div>


			<div class="row items_third">
				@if (Model.Count >= 7)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(6).Id" class="card-link">
							<div class="items_third_one_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(6).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_third_one_desc">
							<div class="items_third_one_desc_text">@Model.ElementAt(6).Name</div>
							<div class="items_third_one_desc_like">
								<button class="items_third_one_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_third_one_price">$ @Model.ElementAt(6).Price</div>
					</div>
				}
				@if (Model.Count >= 8)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(7).Id" class="card-link">
							<div class="items_third_two_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(7).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_third_two_desc">
							<div class="items_third_two_desc_text">@Model.ElementAt(7).Name</div>
							<div class="items_third_two_desc_like">
								<button class="items_third_two_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_third_two_price">$ @Model.ElementAt(7).Price</div>
					</div>
				}
				@if (Model.Count >= 9)
				{
					<div class="col-md-5 offset-md-1">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(8).Id" class="card-link">
							<div class="items_third_three_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(8).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_third_three_desc">
							<div class="items_third_three_desc_text">@Model.ElementAt(8).Name</div>
							<div class="items_third_three_desc_like">
								<button class="items_third_three_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_third_three_price">$ @Model.ElementAt(8).Price</div>
					</div>
				}
			</div>

			<div class="row items_fourth">
				@if (Model.Count >= 10)
				{
					<div class="col-md-3">
						<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(9).Id" class="card-link">
							<div class="items_fourth_one_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(9).Avatar) center center/cover no-repeat"></div>
						</a>
						<div class="items_fourth_one_desc">
							<div class="items_fourth_one_desc_text">@Model.ElementAt(9).Name</div>
							<div class="items_fourth_one_desc_like">
								<button class="items_fourth_one_desc_like_btn">
									<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
									<a href="#" class="link"></a>
								</button>
							</div>
						</div>
						<div class="items_fourth_one_price">$ @Model.ElementAt(9).Price</div>
					</div>
				}
				@if (Model.Count >= 11)
				{
				<div class="col-md-3">
					<a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(10).Id" class="card-link">
						<div class="items_fourth_two_image" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(10).Avatar) center center/cover no-repeat"></div>
					</a>
					<div class="items_fourth_two_desc">
						<div class="items_fourth_two_desc_text">@Model.ElementAt(10).Name</div>
						<div class="items_fourth_two_desc_like">
							<button class="items_fourth_two_desc_like_btn">
								<img src="~/icons/heart.svg" alt="favourite" class="items_first_one_desc_like_img">
								<a href="#" class="link"></a>
							</button>
						</div>
					</div>
					<div class="items_fourth_two_price">$ @Model.ElementAt(10).Price</div>
				</div>
				}
				
			</div>
			@if (Model.Count >= 12)
			{
				<button class="items_view_more_btn">View more</button>
			}
			
		</div>
	</section>
	



@*<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

<div class="card-buttons-group">
    <button class="btn btn-danger" id='hideCardsId'>Hide</button>
    <button class='btn btn-success' id='showCardsId'>Show</button>
</div>

<div style="padding: 10px;"></div>
@if (Model.Count == 0)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://images.wallpaperscraft.ru/image/single/bmw_fary_podsvetka_137326_1280x720.jpg" 
                     class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">List of items is empty</h5>
                    <p class="card-text">
                        List of items is empty
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="https://images.wallpaperscraft.ru/image/single/mercedes_benz_s_class_w222_112850_800x600.jpg" class="card-img-top" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: @item.Price ₽</li>
                            <li class="list-group-item">@item.Collection</li>
                        </ul>
                        <div class="card-body">
                            <a asp-controller="Item" asp-action="GetItem" asp-route-id="@item.Id" class="card-link">Go to</a>
                            @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
     @*                       @if (User.IsInRole("Admin"))
                            {
                                <hr/>
                                <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                <a asp-controller="Item" asp-action="Save" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>   
}

@section pageScripts {
    <script>
        const hideCardElement = $('#hideCardsId');
        const showCardElement = $('#showCardsId');
        const cardElement = $('.card');
        
        const interval = 2000;
        
        hideCardElement.click(function(){
            hideCardElement.hide(interval);
            showCardElement.show(interval);
            cardElement.hide(interval);
        });
        
        showCardElement.click(function () {
            hideCardElement.show(interval);
            showCardElement.hide(interval);
            cardElement.show(interval);
        });
    </script>
}*@

