@*@model OnlineShop.Domain.Entity.Item*@
@model OnlineShop.Domain.ViewModels.Item.ItemViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/item.min.css">
</head>


<section class="item">
	<div class="container">
		<div class="row gx-0">
			<ul class="main_menu">
				<li class="main_menu_item"><a href="#" class="main_menu_link">JACKETS</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">COATS</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">DENIM</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">DRESSES</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">SHORTS</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">SHIRTS</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">T-SHIRTS</a></li>
				<li class="main_menu_item"><a href="#" class="main_menu_link">TOPS</a></li>
			</ul>
			<div class="col-md-3 item_desc">
				<div class="item_desc_head">
					<div class="item_desc_head_name">@Model.Name</div>
					<div class="item_desc_head_vendor_code">vendor code @Model.VendorCode</div>
				</div>
				<div class="item_desc_size">
					<div class="item_desc_size_desc">product size on the model:</div>
					<div class="item_desc_size_value">@Model.ModelSize</div>
				</div>
				@if (Model.ModelCharacteristics != null)
				{
					<div class="item_desc_parameters">
						<div class="item_desc_parameters_desc">model parameters:</div>
						<div class="item_desc_parameters_value">@Model.ModelCharacteristics</div>
					</div>
				}
				
				<div class="item_desc_composition">
					<div class="item_desc_composition_head">
						<button class="item_desc_composition_head_btn collapsible">composition and care</button>
						<div class="item_desc_composition_head_body content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum saepe dolor reprehenderit aperiam incidunt, dolores debitis maxime voluptatibus, itaque expedita porro, qui id distinctio? Ipsa numquam dicta eveniet voluptatum.</div>			
					</div>
				</div>
				<div class="item_desc_availability">
					<div class="item_desc_availability_head">
						<button class="item_desc_availability_head_btn collapsible">avaliability in stores</button>
						<div class="item_desc_availability_head_body content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ab quas maiores ipsam minima accusantium enim mollitia quibusdam quia atque, distinctio doloremque in dolor dicta error quo assumenda accusamus repellat.</div>
					</div>
				</div> 
				<div class="item_desc_shipping">
					<div class="item_desc_shipping_head">
						<button class="item_desc_shipping_head_btn  collapsible">shipping and payment</button>
						<div class="item_desc_shipping_head_body content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, doloribus! Molestias, sint dicta, ea nam nemo dolores possimus a quia reiciendis tempora doloribus magnam maiores beatae voluptatem accusamus illum optio.</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 item_pic">
				@foreach(var image in Model.ColorImages)
				{
					<div class="item_pic_var" style="background: url(/img/cards/ItemImages/@image.Url) left center/cover no-repeat"></div>
				}
			</div>
			<div class="col-md-3 item_characteristics">
				<div class="item_characteristics_colors">
					<div class="item_characteristics_colors_desc">colors</div>
						
					<ul class="item_characteristics_colors_options">
						@foreach (var color in @Model.Colors)
						{
						<li class="item_characteristics_colors_options_var">
							<button class="item_characteristics_colors_options_var_btn" style="background-color: rgb(@color.RGB)"></button>
						</li>
						}
					</ul>
				</div>
				<div class="item_characteristics_divider"></div>
				<div class="item_characteristics_sizes">
					<div class="item_characteristics_sizes_desc">sizes</div>
					<vid class="item_characteristics_sizes_options">
						@*@foreach (var size in Model.Sizes)
					    {
						   <li class="item_characteristics_sizes_options_var"><a href="">@size.Value</a></li>
					    }*@
						@foreach (var size in Model.Sizes)
						{
							<input type="radio" class="btn-check item_characteristics_sizes_options_var" name="size" id="size @size.Value" value="@size.Value" />
							<label class="btn btn-secondary" for="size @size.Value">@size.Value</label>

							@*<input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
							<label class="btn btn-secondary" for="option1">Checked</label>*@
						}
						@*<li class="item_characteristics_sizes_options_var"><a href="">42</a></li>
						<li class="item_characteristics_sizes_options_var"><a href="">44</a></li>
						<li class="item_characteristics_sizes_options_var"><a href="">46</a></li>
						<li class="item_characteristics_sizes_options_var"><a href="">48</a></li>*@
					</vid>
				</div>
				<div class="item_characteristics_divider"></div>
				<div class="item_characteristics_price">$ @Model.Price</div>
				<button class="item_characteristics_add_btn">add to card</button>
			</div>
		</div>
	</div>
</section>


<script src="~/js/item.js"></script>

@*<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://images.wallpaperscraft.ru/image/single/mercedes_benz_s_class_w222_112850_800x600.jpg" 
                 class="img-fluid rounded-start rounded" alt="@Model?.Name">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Name</h5>
                <p class="card-text"><b>Description: </b>@Model?.Description</p>
                <p class="card-text"><b>Price: </b>@Model?.Price $</p>
                <p class="card-text"><b>Type: </b>@Model?.Material</p>
                <p class="card-text"><b>Model: </b>@Model?.Collection</p>
                <p class="card-text"><small class="text-muted">Release date - @Model?.ReleaseDate</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text"><b>Descriprion: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>
*@