@model List<OnlineShop.Domain.Entity.Item>


<section class="trend">
        <div class="trend_divider"></div>
        <div class="container">
            <div class="trends">
                <div class="trends_text">
                    <div class="trends_text_small">NOW IN TREND</div>
                    <div class="trends_text_large">NOW IN TREND</div>
                </div>
                <div class="trends_first">
                    <div class="trends_first_left">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(1).Id" class="card-link">
                            <div class="trends_first_left_img" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(1).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_first_left_desc">@Model.ElementAt(1).Name</div>
                    </div>
                    <div class="trends_first_center">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(2).Id" class="card-link">
                            <div class="trends_first_center_img"  style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(2).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_first_center_desc">@Model.ElementAt(2).Name</div>
                    </div>
                    <div class="trends_first_right">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(3).Id" class="card-link">
                            <div class="trends_first_right_img"  style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(3).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_first_right_desc">@Model.ElementAt(3).Name</div>
                    </div>
                </div>
                <div class="trends_second">
                    <div class="trends_second_left">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(4).Id" class="card-link">
                            <div class="trends_second_left_img" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(4).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_second_left_desc">@Model.ElementAt(4).Name</div>
                    </div>
                    <div class="trends_second_center">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(5).Id" class="card-link">
                            <div class="trends_second_center_img" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(5).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_second_center_desc">@Model.ElementAt(5).Name</div>
                    </div>
                    <div class="trends_second_right">
                        <a asp-controller="Item" asp-action="GetItem" asp-route-id="@Model.ElementAt(6).Id" class="card-link">
                            <div class="trends_second_right_img" style="background: url(../../img/cards/itemsAvatars/@Model.ElementAt(6).Avatar) center center/cover no-repeat"></div>
                        </a>
                        <div class="trends_second_right_desc">@Model.ElementAt(6).Name</div>
                    </div>
                </div>
            </div>
        </div>
    </section>